#Nombre de simulations consecutives
simulation.experiments 1

#date de fin de la simulation
simulation.endtime 3000

#taille du reseau
network.size 10



# ::::: LAYERS :::::

#definition de la couche transport
#protocol.transport helloWorldRing.HWTransport
protocol.transport helloWorldRing.MatrixTransport

#latence minimale
protocol.transport.mindelay 80

#latence maximale
protocol.transport.maxdelay 120

#Question 2
#fichier contenant la matrice de latences
protocol.transport.matrixfile network.matrix

#definition de la couche applicative (le hello world)
protocol.applicative helloWorldRing.HelloWorld

#liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer helloWorldRing.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.helloWorldProtocolPid applicative

# Question 1 - f - b
# Reproductibilité
random.seed 42
# End Question 1 - f - b

# Question 3

# Nombre de tours ( de jeton dans l'anneau )
protocol.applicative.myNbStep 1000
# Controleur
control.controler helloWorldRing.Controler
# On passe le pid de la couche applicative au controleur
control.controler.helloWorldProtocolPid applicative
# Nombre de step
control.controler.step network.size
# Probabilité de faute pour chaque step
control.controler.probFailure 0.2

# End Question 3